<form action="/" class="decor">
  <div class="form-left-decoration"></div>
  <div class="form-right-decoration"></div>
  <div class="circle"></div>
  <div class="form-inner">
    <h1>Contact us</h1>
    <input type="text" placeholder="Enter Your Name" id="">
    <input type="number" placeholder="Enter Your Aadhar Number" id="">
    <input type="text" placeholder="Enter Your Address" id="">
    <input type="number" placeholder="Enter Your Age" id="">
    HTML<input type="radio" id="Male" name="gender" value="Male">
     
    <button type="submit" href="/">Submit</button>
  </div>
</form>
