<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue;">List of Ngo Members</h1>
  </div>
</nav>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Member Id</th>
      <th>Name</th>
      <th>Aadhar</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let ngo of ngo'>
      <td><span>{{ngo.memberId}}</span></td>
      <td><span>{{ngo.memberName}}</span></td>
      <td><span>{{ngo.aadhar}}</span></td>
      <td><span>{{ngo.gender}}</span></td>
      <td><span>{{ngo.memberAddress}}</span></td>
      <td><span>{{ngo.memberAge}}</span></td>
      <td>
        <button class="btn btn-sm btn-primary">
          <i class="fa fa-edit"></i>
        </button>
      </td>
      <td>
        <button class="btn btn-sm btn-danger">
          <i class="fa fa-remove"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
